

.task-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #d7d2cd;


    li {
        padding: 20px 10px;
        border-bottom: 1px solid #d7d2cd;
        display: flex;
        align-items: center;
        position: relative;
        white-space: pre-wrap;

        &.done span {
            text-decoration: line-through;
        }

        label {
            display: block;
            cursor: pointer;
        }

        > form,
        > div {
            display: block;
            width: calc(100% - 120px);
        }

        .btn {
            position: absolute;
            right: 10px;
            width: 80px;
            padding: .5em 1em .4em;
            font-size: 13px;
            z-index: 10;
        }

        .is-cancel {
            width: 96px;
            background-color: #999;
        }

        .input {
            display: block;
            position: relative;
            width: 100%;
            font-size: 15px;
            outline: none;
            border: solid 1px #d7d2cd;
            padding: 7px 7px;
            border-radius: 4px;
            margin-top: -5px;

            &:focus {
                background: #f9f9f0;
            }
        }
    }
}




// ローディング
.loader,
.loader:after {
    border-radius: 50%;
    width: 7em;
    height: 7em;
}
.loader {
    margin: 20px auto;
    font-size: 10px;
    position: relative;
    border-top: .4em solid rgba(255,174,0, 0.2);
    border-right: .4em solid rgba(255,174,0, 0.2);
    border-bottom: .4em solid rgba(255,174,0, 0.2);
    border-left: .4em solid #ffae00;
    transform: translateZ(0);
    animation: load-animate .5s infinite linear;
}

@keyframes load-animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



